@model FamilyScoreboard.ViewModels.FamilyMemberDetails
@{
    ViewData["Title"] = "Member Details";
}

<h2>@Model.FamilyMember.PreferredName</h2>


<form asp-controller="Family" method="post" asp-action="MarkChoreComplete">
    <h4>Mark a chore as completed: </h4>
    <div class="col-md-4">
        <select asp-for="SelectedChoreId" asp-items="@(new SelectList(Model.Chores, "Id", "Name"))" class="form-control"></select>
        <button class="btn btn-primary form-control" type="submit">Mark Complete <i class="fa fa-plus"></i></button>
    </div>
    <input asp-for="FamilyMember.Id" hidden />
</form>

<hr />
<br />

<h4>Completed Chores:</h4>

@if (Model.FamilyMember.CompletedChores == null || Model.FamilyMember.CompletedChores.Count == 0) {
    <p>Womp womp. Nohting accomplished <strong>:(</strong></p>
} else {
    <div class="row">
        @foreach (var chore in Model.FamilyMember.CompletedChores) {
            <div class="col-lg-4 card">
                <div class="card-header">@chore.Chore.Name</div>
                <div class="card-body"><p>@chore.DateEntered</p>@chore.Chore.Description</div>
                <div class="card-footer">
                    @chore.PointsEarned
                    <span class="float-right">
                        <a asp-action="RemoveCompletion" asp-all-route-data="@(new Dictionary<string, string> {{ "id", chore.Id.ToString()}, {"memberId", Model.FamilyMember.Id.ToString() }})"><i class="far fa-trash-alt"></i></a>
                    </span>
                </div>
            </div>
        }
    </div>
}

<hr />
<br />
<h4>Redeptions:</h4>
@if (Model.FamilyMember.Redeptions == null || Model.FamilyMember.Redeptions.Count == 0) {
    <p>You have not redeemed any rewards yet <strong>:(</strong></p>
} else {
    <div class="row">
        @foreach (var redemption in Model.FamilyMember.Redeptions) {
            <div class="col-lg-4 card">
                <div class="card-header">@redemption.Reward.Name</div>
                <div class="card-body"><p>@redemption.RedeptionDate</p>@redemption.Reward.Description</div>
                <div class="card-footer">
                    @redemption.Value
                </div>
            </div>
        }
    </div>
}